@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #222222;
}

.radix-themes {
  color: var(--base-color);
  --default-font-family: var(--font-lexend), Lexend, ui-sans-serif, sans-serif;
}
[data-state="active"][role="tab"] {
  background-color: #222222;
  border-radius: 4px;
  color: white; /* Change text color if desired */
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
