/* theme-config.css */

/*
 * This currently uses the important tag as the radix theme provider is loading in its style sheet after this one
 * See https://www.radix-ui.com/themes/docs/overview/styling#nextjs-import-order
 */

.radix-themes {
  --default-font-family:
    var(--font-lexend), Lexend, ui-sans-serif, sans-serif !important;
}
